
@media (max-width: 1100px)  {
  .random-language {
    width: 250px;
  }

  .quote-space {
    width: 250px;
  }
}

html {
  background-color: rgba(235,66,62,1);
  height: 50%;
  width: 50%;
  margin: 10% auto;
}

h1 {
  color: rgb(224, 223, 219);
  font-family: 'retro-computer', times;
  margin-top: -35%;
}


.jumbotron {
  background-color: rgba(255,255,255,0.9);
  min-width: 200px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: -webkit-transform: translate(-50%, -50%);
             -ms-transform: translate(-50%, -50%);
             transform: translate(-50%, -50%);;
}

.random-language {
  font-size: 2em;
  color: white;
  font-family: 'retro-computer', times;
  border-bottom: 3px solid white;
  padding-bottom: 3px;
  word-spacing: 0.01em;

  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 2.25em;
  color: white;

}

.quote-space {
  text-align: center;
  color: red;
  font-family: 'retro-computer', times;
  display: fixed;

  margin: 5%;
  text-align: center;
  color: red;

  position: fixed;

}



