
@media (max-width: 640px)  {
  .random-language {
    background-color: blue;
  }

  .quote-space {
    background-color: blue;
  }
}

html, body {
  background-color: rgb(235,66,62);
  height: 50%;
  width: 50%;
  margin: 10% auto;
}

.box { 
  height: 100%; 
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 2.5%;
  margin-right: auto;
  margin-left: auto;
}

.one { 



}
.two { 

}

.jumbotron {
  background-color: rgba(192,192,, 0.8);
}

.random-language {
  font-size: 2em;
  color: white;
  font-family: 'retro-computer', times;
  border-bottom: 3px solid white;
  padding-bottom: 3px;
  background-color: rgb(111,111,111);

  display: fixed;

  max-width: 250px;
  word-wrap:break-word;
}

.quote-space {
  text-align: center;
  color: red;
  font-family: 'retro-computer', times;
  display: fixed;
}
